
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Ranking</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Add result</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/IMG_7737.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Bảng xếp hạng những tay vợt hàng đầu Vinhomes Smart City</h2>
            <span class="subheading">Diễn ra vào thứ 2,4,6,7 hàng tuần...</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Chỉnh sửa kết quả</button>



  <!-- Main Content -->
  <div class="container">
    <div class="container">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Thêm kết quả trận vừa xong</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Tên:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Điểm:</label>
                  <input type="number" class="form-control" id="score"/>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Password</label>
                  <input type="password" class="form-control" id="password"/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary">Sure kèo</button>
            </div>
          </div>
        </div>
      </div>
			<header>
        <h1>Badminton Ranking Top 8</h1>
			</header>
			<div class="wrapper">
				<table>
					<thead>
						<tr>
							<th>Rank</th>
							<th>Vận động viên</th>
							<th>Điểm số</th>
							<th>+/-</th>
						</tr>
					</thead>
					<tbody>
						<tr>
                <td class="rank">1</td>
                <td class="team">Spain</td>
                <td class="points">1460</td>
                <td class="up-down">0</td>
              </tr>
					  <tr>
                <td class="rank">2</td>
                <td class="team">Germany</td>
                <td class="points">1340</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">3</td>
                <td class="team">Portugal</td>
                <td class="points">1245</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">4</td>
                <td class="team">Brazil</td>
                <td class="points">1210</td>
                <td class="up-down">+2</td>
              </tr>
            	<tr>
                <td class="rank">5</td>
                <td class="team">Colombia</td>
                <td class="points">1186</td>
                <td class="up-down">-1</td>
              </tr>
            	<tr>
                <td class="rank">6</td>
                <td class="team">Uruguay</td>
                <td class="points">1181</td>
                <td class="up-down">-1</td>
              </tr>
            	<tr>
                <td class="rank">7</td>
                <td class="team">Argentina</td>
                <td class="points">1178</td>
                <td class="up-down">-1</td>
              </tr>
            	<tr>
                <td class="rank">8</td>
                <td class="team">Switzerland</td>
                <td class="points">1161</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">9</td>
                <td class="team">Italy</td>
                <td class="points">1115</td>
                <td class="up-down">0</td>
              </tr>
						<tr>
                <td class="rank">10</td>
                <td class="team">Greece</td>
                <td class="points">1082</td>
                <td class="up-down">0</td>
              </tr>
					  <tr>
                <td class="rank">11</td>
                <td class="team">England</td>
                <td class="points">1043</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">12</td>
                <td class="team">Belgium</td>
                <td class="points">1039</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">13</td>
                <td class="team">Chile</td>
                <td class="points">1037</td>
                <td class="up-down">+1</td>
              </tr>
            	<tr>
                <td class="rank">14</td>
                <td class="team">USA</td>
                <td class="points">1015</td>
                <td class="up-down">-1</td>
              </tr>
            	<tr>
                <td class="rank">15</td>
                <td class="team">Netherlands</td>
                <td class="points">967</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">16</td>
                <td class="team">France</td>
                <td class="points">935</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">17</td>
                <td class="team">Ukraine</td>
                <td class="points">913</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">18</td>
                <td class="team">Russia</td>
                <td class="points">903</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">19</td>
                <td class="team">Mexico</td>
                <td class="points">877</td>
                <td class="up-down">0</td>
              </tr>
            	<tr>
                <td class="rank">20</td>
                <td class="team">Croatia</td>
                <td class="points">871</td>
                <td class="up-down">0</td>
              </tr>
					</tbody>
				</table>
			</div>
		</div>
  </div>

  <hr>

